body {
  background-color: #a1f86b; /* tło strony */
}

#container {
  display: flex; /* wyświetlanie w w formie flex */
  align-items: center; /* wyśrodkowanie elementów poziomo */
  justify-content: right; /* wyśrodkowanie elementów pionowo */
  margin-right: 200px; /* Margin z prawej strony odpowiadający za odległość kalkulatora od prawej krawędzi ekranu */
  height: 90vh; /* całkowita wysokość elementów na stronie */
}
#calculator {
  display: flex;
  flex-wrap: wrap; /* zawijanie guzików */
  justify-content: space-evenly; /* wyśrodkowanie elementów w równych odstępach od siebie i od krawędzi kalkulatora */
  align-content: space-around; /* wyśrodkowanie elementów (guzików) w równych odstępach poziomo */
  border: 5px solid rgb(10, 10, 10); /* obramowanie */
  box-shadow: 5px 5px 3px 3px black; /* cień obramowania */
  border-radius: 12px 12px 15px 15px; /* zaokrąglanie krawędzi */
  width: 360px; /* ustawienie szerokości obudowy kalkulatora */
  height: 650px; /* ustawienie wysokości obudowy kalkulatora */
  background-color: rgb(166, 190, 255); /* kolor obudowy kalkulatora */
}
#screen {
  width: 17vw; /* szerokość ekranu */
  height: 17vh; /* wysokość ekranu */
  background-color: rgb(147, 224, 255);
  border-radius: 8px;
  color: black;
  display: flex;
  align-items: center;
  font-size: 30pt; /* wielkość czcionki */
  font-family: "Orbitron", sans-serif; /* Czcionka orbitron */
  justify-content: center; /* wyśrodkowanie elementów centralnie */
}
.button {
  background-color: rgb(252, 171, 78);
  height: 50px;
  width: 75px;
}
.button:hover {
  background-color: rgb(25, 255, 140);
}

h1 {
  font-size: 36pt;
  position: absolute;
  top: 40vh; /* Dla sportu przez position absolute odliczane jest gdzie ma sie znajdowac naglowek h1 liczac od gory i lewej strony */
  left: 25vw;
  font-family: Arial, Helvetica, sans-serif; /* Taka ładna czionka, cause why not */
}
